.navbar{
    margin: 0;
    border-radius: 0;
}
 .navbar-inverse{
        background-color:#00b6ce;
        border-color:#20cee4;        
    }
.menu{
    background-color:#00BCD4;
}
.navbar-toggle{
    display: inline-block;
    margin-left: 10px;
}

.main {
    display: flex;
    background-color: #ecf0f5;
    min-height: calc(100vh - 52px);
    overflow: hidden;
}

.content {
    width: 100%;
    padding-top: 20px;
}

.menu {
    width: 0px;
    background-color: #00BCD4;
    flex-shrink: 0;
    overflow: hidden;
    transition: width .5s;
}

.menu.menu-open {
    width: 250px;
}

.menu ul{
    list-style: none;
    padding: 0px 0px;


}
.menu ul li.active{
    list-style: none;
    padding: 0px 0px;
    border-top: 1px solid #81c3fb;


}

.menu ul li.active{
    background-color:#00BCD4;
}
.menu ul li.active:hover{
    background-color:#47cdde;
}
.menu li:hover{
    background-color:#47cdde;
}
.menu li{

    border-top: 1px solid #81c3fb;
    background-color: #26c7dc;
    
}

.menu ul li a{
    display: block;
    color:#ffffff;
    padding: 10px 15px;
    white-space: nowrap;
}

.menu ul li:hover a, .menu ul li.active a{
    color: white
}